@import url('https://fonts.googleapis.com/css?family=Lobster');

$font-stack: Helvetica, sans-serif;
$primary-clr: teal;
$success-clr: turquoise;
$danger-clr: indianred;
$dark-clr: #343a40;

nav {
    .logo {
        width: 2rem;
    }

    h2 {
        font-family: 'Lobster', cursive;
    }

    .cart-info {
        .fa-shopping-cart {
            font-size: 1.2em;
            margin-right: .5em;
            cursor: pointer;
        }
    }

    #myNav {
        position: absolute;
        top: 100%;

        ul {
            display: flex;
            justify-content: space-evenly;
            width: 96vw;

            li a {
                color: $dark-clr;
            }
        }
    }
}

.carousel-control-prev, .carousel-control-next {
    top: 40%;
}
.carousel-control-prev {
    left: 4em;
}
.carousel-control-next {
    right: 4em;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 4em;
    height: 4em;
}

