body, html {
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* Full height */
    height: 40%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
  }
  
  /* Images used */
  .img1 { background-image: url("abundance.jpg"); }
  .img2 { background-image: url("cakes.jpg"); }
  .img3 { background-image: url("cinnamon.jpg"); }
  .img4 { background-image: url("cupcakes.jpg"); }
  .img5 { background-image: url("donuts.jpg"); }
  .img6 { background-image: url("eclair.jpg"); }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 2rem;
    border: 5px solid #f1f1f1;
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 30%;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    padding: 10px
 

}
.banner-roll{
    width: 100%;
    overflow-y: scroll;
    height: 70%;
    scrollbar-width: none;
    
}
.testy{
  
    background-color: white;
    position: absolute;
    top: 27.5%;
    height: 500px;
    width: 100%;
    /* display: none; */

   
  }

  .big-nothing{
      height: 500px;
      width: 100%;
  }

  .head {
    height:100%;
    position:relative;
    margin: 0% auto;
    

}

